body{
    font-family: Arial;
    background:#eef2f3;
    padding:20px;
}

h2,h3{text-align:center}

input,select,button{
    width:100%;
    padding:8px;
    margin:5px 0;
}

button{
    background:#27ae60;
    color:white;
    border:none;
}

table{
    width:100%;
    background:white;
    border-collapse:collapse;
}

td,th{
    border:1px solid #ccc;
    padding:8px;
    text-align:center;
}

ul{list-style:none;padding:0}
li{background:white;margin:5px;padding:8px}
