body {
    font-family: Arial;
    background-color: #f2fff2;
    padding: 20px;
}

h1 {
    color: green;
}

form {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 8px;
    margin-bottom: 30px;
}

label {
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
}

button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #d9fdd9;
}
